$white: white;
$black: black;
$text: #333333;
$lowStock: #ed143d;
$normalStock: #27ae60;
$shadowBox: #e61577;
$link: blue;
$rrp: #bfbfbf;

// export selected colours to js...
:export {
  lowStock: $lowStock;
  normalStock: $normalStock;
  rrp: #bfbfbf;
}
